name: Secret Check

on:
  pull_request:
  push:

jobs:
  secret-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v3.91.0
